<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.store.mapper.AddressMapper">

    <resultMap id="AddressEntityMap" type="com.cy.store.entity.Address">
        <id column="aid" property="aid"></id>
        <result column="province_name" property="provinceName"></result>
        <result column="province_code" property="provinceCode"></result>
        <result column="city_name" property="cityName"></result>
        <result column="city_code" property="cityCode"></result>
        <result column="area_name" property="areaName"></result>
        <result column="area_code" property="areaCode"></result>
        <result column="is_default" property="isDefault"></result>
        <result column="created_user" property="createdUser"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="modified_user" property="modifiedUser"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>

   <insert id="insert" useGeneratedKeys="true" keyProperty="aid">
        INSERT INTO t_address (
            uid, name, province_name, province_code, city_name, city_code, area_name, area_code, zip,
            address, phone, tel, tag, is_default, created_user, created_time, modified_user, modified_time
        ) VALUES (
            #{uid}, #{name}, #{provinceName}, #{provinceCode}, #{cityName}, #{cityCode}, #{areaName},
            #{areaCode}, #{zip}, #{address}, #{phone}, #{tel}, #{tag}, #{isDefault}, #{createdUser},
            #{createdTime}, #{modifiedUser}, #{modifiedTime}
        )
   </insert>

    <!--返回值如果为基本数据类型和字符串，resultType可以省略不写-->
    <select id="countByUid" resultType="java.lang.Integer">
      SELECT COUNT(*) FROM t_address WHERE uid = #{uid}
    </select>

    <select id="findByUid" parameterType="java.lang.Integer" resultType="com.cy.store.entity.Address">
        SELECT * FROM t_address WHERE uid = #{uid} ORDER BY is_default DESC ,created_time DESC
    </select>
    
    <update id="updateNonDefault">
        UPDATE t_address SET is_default = 0 WHERE uid = #{uid}
    </update>

    <update id="updateDefaultByAid">
        UPDATE t_address
          SET is_default = 1,
          modified_user = #{modified_user},
          modified_time = #{modifiedTime}
        WHERE aid = #{aid}
    </update>

    <select id="findByAid" resultMap="AddressEntityMap">
      SELECT * FROM t_address WHERE aid = #{aid}
    </select>
</mapper>
